body {
    height: 100%;
    margin: 0;
}

:root {
    --main-bg-color: #fff4ec;
    --secondary-bg-color: #2da0b9;
    --primary-color: #ffdec8;
    --secondary-color: #f77;

    --backup-color-1: #874c96;
    --backup-color-2: #01520e;
    --backup-color-3: rgba(248, 0, 0, 0.2);

    --primary-button: #01520e;
    --secondary-button: #b61c1c;
}

.bg {
    background-color: var(--main-bg-color);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.single-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    resize: none;
}
