.container {
    width: 90%;

    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

    font-family: KoHo;

    .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;

        margin-top: 40px;

        button {
            width: 150px;
            height: 50px;

            color: white;
            font-size: 20px;

            border: none;
            border-radius: 6px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            cursor: pointer;
        }
    }
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-family: KoHo;

    width: 500px;

    > span {
        text-align: center;
        font-size: 28px;
        font-weight: 600;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;

        > div:first-child {
            display: flex;
            justify-content: space-between;
        }

        .messageInput {
            label {
                display: block;
                font-size: 24px;
            }
            textarea {
                width: 100%;
                margin-top: 10px;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}

.message {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-family: KoHo;

    width: 500px;

    > span {
        text-align: center;
        font-size: 28px;
        font-weight: 600;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        > div:not(:last-child) {
            font-size: 20px;

            display: flex;
            justify-content: space-between;

            > span:first-child {
                font-weight: 600;
            }
        }

        > div:last-child {
            font-size: 20px;

            display: flex;
            flex-direction: column;
            gap: 5px;

            > span:first-child {
                font-weight: 600;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
